<form class="oneCol" #theform="ngForm" (ngSubmit)="formSubmit()">
  <md-grid-list cols="1" rowHeight="75px" class="marT10">
    <md-grid-tile rowspan="1" colspan="1">
      <button md-raised-button color="primary" type="submit">修改密码</button>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="原密码" [(ngModel)]="changePassword.oldpassword" name="oldpassword" required>
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="新密码" [(ngModel)]="changePassword.newpassword" name="newpassword" required>
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input mdInput placeholder="确认新密码" [(ngModel)]="changePassword.newpassword2" name="newpassword2" required>
      </md-input-container>
    </md-grid-tile>
  </md-grid-list>
</form>